In [1]:
import pandas
nepracujici = pandas.read_csv('nepracujici.csv')
vykazy = pandas.read_csv('vykazy.csv')

vykazy = vykazy.rename(columns = {'date' : 'datum', 'hours':'casy', 'project':'projekt', 'emloyee_id':'cislo_zamestnance'})

* Propoj tabulku s výkazy s tabulkou se zaměstnanci, kterou jsi vytvořil(a) v předchozím cvičení.

In [2]:
vykazy_nepracujici = pandas.merge(vykazy, nepracujici, on = ['cislo_zamestnance'])
vykazy_nepracujici

,datum,casy,projekt,cislo_zamestnance,plat,jmeno,prijimeni,telefonni_cislo,mesto
0,2021-02-01,2.5,F30,13,NaN,Alexander,Martinez,721 195 689,Plzen
1,2021-02-01,2.1,JL9,72,NaN,Robert,Říha,727 351 984,Praha
2,2021-02-01,2.4,TE1,54,NaN,Michelle,Vlčková,+421 41 720 7806,Praha
3,2021-02-02,5.6,F30,53,NaN,Karolína,Short,721 589 083,Praha
4,2021-02-02,3.6,YLI,53,NaN,Karolína,Short,721 589 083,Praha
5,2021-02-03,4.0,W05,53,NaN,Karolína,Short,721 589 083,Praha
6,2021-02-02,5.3,YLI,10,NaN,Jindřich,Howell,+421 39 043 0948,Plzen
7,2021-02-03,4.6,TE1,86,NaN,Jennifer,Brown,775 545 190,Liberec
8,2021-02-03,5.4,YLI,86,NaN,Jennifer,Brown,775 545 190,Liberec

* Následně proveď statistiku vykázaných hodin za jednotlivé kanceláře, tj. spočítej celkový počet hodin vykázaný zaměstnanci jednotlivých kanceláří na projekty daného zákazníka.

In [3]:
vykazy_nepracujici.groupby('projekt')['casy'].count()

projekt
F30    2
JL9    1
TE1    2
W05    1
YLI    3
Name: casy, dtype: int64